<!doctype html>

<!-- ASSIGNS THE ANGULAR MODULE APP -->
<html ng-app="scotchTodo">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Node/Angular Todo App</title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
            html {overflow-y:scroll;}
            body {padding-top:50px;}
            #todo-list {margin-bottom:30px;}
        </style>
        <script src="https://cdn.jsdelivr.net/jquery/3.0.0-alpha1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/angular.all/1.3.0-beta.14/angular-all.min.js"></script>
        <script src="js/constrollers/main.js"></script>
        <script src="js/services/todos.js"></script>
        <script src="js/core.js"></script>
    </head>
    <body ng-controller="mainController">
        
        <div class="jumbotron text-center">
            <h1>Todos <span class="label label-info">{{ todos.length }}</span></h1>
        </div>
        
        <div id="todo-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="checkbox" ng-repeat="todo in todos">
                    <label>
                        <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
                    </label>
                </div>
            </div>
        </div>
        
        <div id="todo-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="wat 2 do" ng-model="formData.text">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Do it</button>
                </form>
            </div>
        </div>
        
    </body>
</html>